@import "tailwindcss";

@font-face {
  font-family: "AppleFont";
  src: url("/assets/fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "AppleFont";
  src: url("/assets/fonts/SFPRODISPLAYMEDIUM.OTF") format("opentype");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "AppleFont";
  src: url("/assets/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: regular;
  font-style: normal;
}

@theme {
  --color-primary: #476cf6;
  --color-secondary: #c466f3;
  --color-secondaryLight: #ead4f5;
  --color-strong: #1a0e6e;
  /* --color-custombg: #d4d4e7; */
  --color-custombg: #fff;
  --color-bglight: #f1f1fe;
  --color-bglightHover: #f8f0fd;
  --color-lineLight: #e2e2e2;

  --color-text: #000000;
  --color-textHover: #444444;
  --color-mid: #7d7d7d;
  --color-light: #b4b4b4;
  --color-overlay: rgba(0, 0, 0, 0.5);
  --color-customGrad: linear-gradient(to right, #476cf6, #c467f3);
  --font-apple: "AppleFont", sans-serif;
  --shadow-light: 3px 3px 15px rgba(0, 0, 0, 0.1);
  --shadow-strong: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
  white-space: nowrap;
}

textarea:focus,
textarea:active,
input:focus,
input:active {
  box-shadow: none;
  outline: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

select {
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  appearance: none;
  box-shadow: none;
}

select:focus,
select:hover {
  outline: none;
  border: none;
  box-shadow: none;
  background: transparent;
}

::selection {
  background: #3152d5;
  color: #ececec;
}


@tailwind utilities;

@layer base {
  body {
    @apply min-w-[320px]
      bg-custombg text-text
      text-lg
      lg:text-xl;
  }

  h1 {
    @apply font-bold
      text-xl
      lg:text-4xl;
  }

  h2 {
    @apply text-xl md:text-2xl;
  }

  h3,
  h4,
  h5,
  h6 {
    @apply text-sm
      md:text-base;
  }

  input {
    @apply text-xs md:text-sm;
  }

  label {
    @apply w-20 text-end
    cursor-pointer
    select-none
    break-keep
    whitespace-nowrap
    text-sm
    lg:w-30 lg:text-xl;
  }

  p {
    @apply text-base text-textHover
    leading-snug;
  }
}

@layer components {
  .overlay {
    @apply min-w-[320px]
      w-screen h-full
      fixed inset-0 z-10
      bg-overlay;
  }

  .header-px {
    @apply min-w-[320px]
    px-5
    md:px-10
    xl:px-25 
    2xl:px-36;
  }

  .global-px {
    @apply min-w-[320px]
    px-5
    md:px-20 
    xl:px-50 
    2xl:px-72;
  }

  .searchBar-px {
    @apply min-w-[320px]
    px-5
    md:px-20 
    xl:px-50 
    2xl:px-80;
  }

  .button-light {
    @apply text-mid
    text-[16px] max-md:text-[12px]
    p-0    
    hover:bg-clip-text hover:text-transparent
    hover:bg-gradient-to-r hover:from-[#476CF6] hover:to-[#C467F3];
  }

  .button-light.selected {
    @apply bg-clip-text text-transparent
    bg-gradient-to-r from-[#476CF6] to-[#C467F3];
  }

  .register-label {
    @apply w-28 text-end font-bold
    lg:w-40;
  }

  .register-label-box {
    @apply flex items-center gap-5

    lg:gap-10;
  }

  .light-p {
    @apply text-xs text-mid
    leading-snug

    md:text-sm md:leading-tight;
  }

  .userSection {
    @apply
    md:min-h-[350px]
    min-w-[320px] 
    md:min-w-full
    
    w-[100vw] md:w-full
    -mx-5 md:mx-0
    p-5 md:pb-12 md:pt-0
    my-12 md:my-0
}

  .userSection-line {
    @apply
     border-b border-lineLight md:border-none
  }

  .user-product-card {
    @apply shrink-0 w-full h-auto 
    border-b border-lineLight
    /* rounded-xl */
    py-2
    md:p-5
    flex flex-col
    md:grid md:grid-cols-6 gap-2 justify-center items-start md:items-center
    cursor-pointer
    relative

    hover:bg-bglightHover
    hover:border-secondaryLight;
  }

  .input-base {
    @apply w-[200px] bg-gray-300 border border-black;
  }

  .add-label {
    @apply w-auto
    border border-amber-500
    flex items-center gap-2 cursor-pointer mb-2;
  }

  .user-product-h3 {
    @apply text-lg md:text-2xl font-normal text-light;
  }

  .custom-round-s {
    @apply bg-transparent;
  }

  .option-select {
    @apply w-full
    flex gap-2
    border-2 border-transparent rounded-lg
    cursor-pointer
    p-3;
  }

  .option-select.selected {
    @apply bg-bglightHover border-secondaryLight;
  }

  .user-h2 {
    @apply 
    font-bold
    text-xl md:text-2xl
  }

  .user-title-sm {
    @apply 
    block md:hidden
    mb-1 md:mb-5
    text-base text-light;
  }

  .user-wishcard-btn {
    @apply w-3 aspect-square text-lg
    flex items-center justify-center 
    text-mid 
    hover:text-light 

    md:w-5 md:text-xl;
  }

  .searchbar-span {
    @apply w-full h-[30px] md:h-[40px] px-2 
    border-2 border-custombg focus-within:border-primary 
    rounded-md 
    flex justify-end;
  }

  .thick-line {
    @apply
    w-full h-[3px] bg-black block mt-3 
  }
}
