@import "tailwindcss";

@font-face {
  font-family: "AppleFont";
  src: url("/assets/fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "AppleFont";
  src: url("/assets/fonts/SFPRODISPLAYMEDIUM.OTF") format("opentype");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "AppleFont";
  src: url("/assets/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: regular;
  font-style: normal;
}

@theme {
  --color-primary: #476cf6;
  --color-secondary: #c466f3;
  --color-secondaryLight: #ead4f5;
  --color-strong: #1a0e6e;
  --color-custombg: #d4d4e7;
  --color-bglight: #f1f1fe;
  --color-bglightHover: #f8f0fd;

  --color-text: #000000;
  --color-textHover: #444444;
  --color-mid: #7D7D7D;
  --color-light: #B4B4B4;
  --color-overlay: rgba(0, 0, 0, 0.5);
  --color-customGrad: linear-gradient(to right, #476cf6, #c467f3);
  --font-apple: "AppleFont", sans-serif;
  --shadow-light: 3px 3px 15px rgba(0, 0, 0, 0.1);
  --shadow-strong: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
  white-space: nowrap;
}

textarea:focus,
textarea:active,
input:focus,
input:active {
  box-shadow: none;
  outline: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

select {
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  appearance: none;
  box-shadow: none;
}

select:focus,
select:hover {
  outline: none;
  border: none;
  box-shadow: none;
  background: transparent;
}

::selection {
  background: #3152d5;
  color: #ececec;
}

.userSection {
  @apply min-h-[350px] py-12;
}

@tailwind utilities;

@layer base {
  body {
    @apply min-w-[320px]
      bg-custombg text-text
      text-lg
      lg:text-xl;
  }

  h1 {
    @apply font-bold
      text-2xl
      lg:text-4xl;
  }

  h2 {
    @applytext-xl md:text-2xl
  }

  h3,
  h4,
  h5,
  h6 {
    @apply text-sm
      md:text-base;
  }

  label {
    @apply w-20 text-end
    cursor-pointer
    select-none
      break-keep
      whitespace-nowrap
      text-sm
      lg:w-30 lg:text-xl;
  }

  p {
    @apply text-base text-textHover
    leading-snug;
  }
}

@layer components {
  .overlay {
    @apply min-w-[320px]
      w-screen h-full
      fixed inset-0 z-10
      bg-overlay;
  }

  .global-px {
    @apply min-w-[320px]
    px-5
    md:px-30 
    xl:px-50 
    2xl:px-80;
  }

  .register-label {
    @apply w-28 text-end font-bold
    lg:w-40;
  }

  .register-label-box {
    @apply flex items-center gap-5

    lg:gap-10;
  }

  .light-p {
    @apply text-xs text-mid
    leading-snug

    md:text-sm md:leading-tight;
  }

  .user-product-card {
    @apply shrink-0 w-full h-auto md:h-[60px] 
    bg-white rounded-xl
    px-0
    md:px-5
    border-2 border-transparent
    flex flex-col
    md:grid md:grid-cols-5 gap-2 justify-center items-start md:items-center
    cursor-pointer
    relative

    hover:bg-bglightHover
    hover:border-secondaryLight
  }

  .input-base {
    @apply w-[200px] bg-gray-300 border border-black;
  }

  .add-label {
    @apply w-auto
    border border-amber-500
    flex items-center gap-2 cursor-pointer mb-2;
  }

  .user-product-h3 {
    @apply text-xl font-normal
  }

  .custom-round-s {
    @apply bg-transparent;
  }

  .option-select {
    @apply
    w-full
    flex gap-2
    /* grid grid-cols-3 gap-1 */
    border-2 border-transparent rounded-lg
    cursor-pointer

    p-3
  }

  .selected {
    @apply
    bg-bglightHover border-secondaryLight
  }

  .user-common-container {
    @apply
    bg-white rounded-xl shadow-light
    p-5 
    md:p-12 md:rounded-3xl
  }

  .user-h2 {
    @apply
    font-bold mb-2 md:mb-5
    text-xl md:text-2xl
  }
  
  .user-wishcard-btn {
    @apply
    w-4 aspect-square text-xl 
    flex items-center justify-center 
    text-light 
    hover:text-mid 

    md:w-8 md:text-2xl 
  }
}
