@import "tailwindcss";

@font-face {
  font-family: "AppleFont";
  src: url("/assets/fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "AppleFont";
  src: url("/assets/fonts/SFPRODISPLAYMEDIUM.OTF") format("opentype");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "AppleFont";
  src: url("/assets/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: regular;
  font-style: normal;
}

@theme {
  --color-custombg: #ececec;
  --color-bglight: #dadada;
  --color-text: #000000;
  --color-textHover: #444444;
  --color-cardBd: #d8dade;
  --color-mid: #757575;
  --color-light: #939393;
  --color-overlay: rgba(0, 0, 0, 0.5);
  --font-apple: "AppleFont", sans-serif;
  --shadow-light: 3px 3px 15px rgba(0, 0, 0, 0.1);
  --shadow-strong: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
  white-space: nowrap;
}

textarea:focus,
textarea:active,
input:focus,
input:active {
  box-shadow: none;
  outline: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

select {
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  appearance: none;
  box-shadow: none;
}

label {
  cursor: pointer;
  user-select: none;
}

select:focus,
select:hover {
  outline: none;
  border: none;
  box-shadow: none;
  background: transparent;
}

::selection {
  background: #000000;
  color: #ececec;
}

.userSection {
  @apply min-h-[700px] py-36;
}

@tailwind utilities;

@layer base {
  body {
    @apply min-w-[320px]
      bg-custombg text-text
      text-lg
      lg:text-xl;
  }

  h1 {
    @apply font-bold
      text-3xl
      lg:text-4xl;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-sm
      lg:text-base;
  }

  label {
    @apply w-20 text-end font-bold
      break-keep
      whitespace-nowrap
      text-sm
      lg:w-30 lg:text-xl;
  }
}


@layer components {
  .overlay {
    @apply min-w-[320px]
      w-screen h-full
      fixed inset-0 z-10
      bg-overlay;
  }

  .global-px {
    @apply min-w-[320px]
    px-10 lg:px-40 2xl:px-80;
  }

  .register-label {
    @apply w-28 text-end font-bold
    lg:w-40;
  }

  .register-label-box {
    @apply flex items-center gap-5

    lg:gap-10;
  }

  .light-p {
    @apply text-xs text-light
    leading-snug

    md:text-base md:leading-tight;
  }

  .submit-btn {
    @apply bg-mid text-custombg p-2 hover:bg-textHover;
  }

  .user-product-card {
    @apply shrink-0 w-[250px] h-[280px] 
    flex flex-col items-center gap-2 
    cursor-pointer
    relative;
  }

  .input-base {
    @apply w-[200px] bg-gray-300 border border-black;
  }

  .add-label {
    @apply w-auto
    border border-amber-500
    flex items-center gap-2 cursor-pointer mb-2;
  }

  .user-product-h3 {
    @apply text-2xl;
  }
}
